<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660868529705-f52cbebr56ir0692vgtd1rbfdo9nugas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660868529705-f52cbebr56ir0692vgtd1rbfdo9nugas</string>
	<key>API_KEY</key>
	<string>AIzaSyAYXC2nBffZI6ROXEX8nEKXpVs88AjcFnM</string>
	<key>GCM_SENDER_ID</key>
	<string>660868529705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFlutter</string>
	<key>PROJECT_ID</key>
	<string>projetflutter-6711d</string>
	<key>STORAGE_BUCKET</key>
	<string>projetflutter-6711d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660868529705:ios:06f5d5eee4a98702b06638</string>
</dict>
</plist>